<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://sam-hildebrand.github.io/feed.xml' rel='alternate' type='application/atom+xml'>

   <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9T87M4H9BV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9T87M4H9BV');
</script>


    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>

<body>
    <div id="header">
        <nav>
          <ul>
            <li class="fork"><a href="/the-blog/"><img src="/the-blog/img/logo3.png" alt="Sam Hildebrand"></a></li>
            <li class="downloads"><a href="/the-blog/feed.xml"><img src="/the-blog/img/RSS.png" alt="RSS"></a></li>
          </ul>
        </nav>
    </div><!-- end header -->

    <div class="wrapper">

        <section>
            <div id="title">
                <span class="credits left"><a href="https://verify.comptia.org" title="Psst... Do you want to make sure I'm not lying about who I say I am? Then copy the code below this image, click this image, and paste the code.">
                    <img src="/the-blog/img/SecurityPlus Logo Certified CE White.png"/></a>
                    <br><center>0QD48L8SKNBQ1E3C</center></span>
                <span class="credits right"></span><h1><a href="https://sam-hildebrand.github.io/the-blog">  Hi, I'm Sam Hildebrand</a></h1><br><center>Hacker, Programmer, Nerd</center></span>
                <p></p>
                <a href="https://www.github.com/Sam-Hildebrand"><img src="https://github-profile-summary-cards.vercel.app/api/cards/profile-details?username=Sam-Hildebrand&theme=gruvbox" /></a>
                <hr>
                <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
                <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
            </div>
                        
            {{ content }}

            <hr>

            <p>{% if page.verse != null %}<strong>{{ page.verse }}</strong> | {% endif %}Duscuss posts at <a href="https://www.reddit.com/r/theScH_blog/">r/theScH_blog</a>.</p>

            <hr>

            <h3>Posts:</h3>
            <ul class="entries">
                {% for post in site.posts %}
                <li>
                    <a href="{{site.baseurl}}{{post.url}}">
                        <h3>{{ post.title }}</h3>
                        <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>

        </section>

    </div>
</body>

</html>
